<app-alphabet-header
  [viewNameBold]="viewNameBold" [viewNameRegular]="viewNameRegular" [level]="0">
</app-alphabet-header>
<!--' + category.image != null ? category.image: this.config.alphabetPlaceholderPath + '-->
<div class="container p-0">
  <div class="row justify-content-center ">
    <div class="col-lg-6 col-md-8 col-sm-9 col-10 px-5">
      <div class="text-center category-wrapper">
        <span class="caption-primary">Choose your category</span>
        <div *ngFor="let category of this.categories"
             [ngStyle]="{'background-image': 'url(' + (category.image != null ? category.image: this.config.alphabetPlaceholderPath) + ')'}"
             class="category"
        >
          <a routerLink="/exercises/category/{{category.id}}">
            <h2>{{category.name | uppercase}}</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-navbar></app-navbar>

