<app-header
  [viewNameBold]="viewNameBold" [viewNameRegular]="viewNameRegular" [imageUrl]="'/assets/image/planer/header-second.jpg'">
</app-header>

<div class="container p-0 pb-3">
  <div class="row justify-content-center mb-5">
    <div class="col-lg-6 col-md-8 col-sm-9 col-10 px-3">
      <div class="text-center plan-wrapper mb-5">
        <div class="operations">
          <h2 class="caption-primary">Active plan</h2>
          <span class="caption-primary">{{exerciseCount}} exercises</span>
        </div>
        <div class="exercise" *ngFor="let row of this.currentDayRows; index as index">
          <a class="overflow-hidden">
            <div class="exercise-image" style="background-image: url(/assets/image/planer/header-second.jpg);"></div>
            <div class="exercise-content">
              <a class='exercise-link' routerLink="/exercises/exercise/{{row.exercise.id}}">
                <h3>EXERCISE #{{index + 1}}</h3>
                <p>{{row.exerciseName}}</p>
              </a>
              <span class="exercise-desc" *ngIf="!!row.exercise.sets || !!row.exercise.reps || !!row.exercise.secs; else description">
                {{row.exercise.sets ? row.exercise.sets : ''}}
                x
                {{row.exercise.reps ? row.exercise.reps + 'reps' : row.exercise.secs + 's' }}
              </span>
              <ng-template #description>
                <span class="exercise-desc">{{row.exercise.other}}</span>
              </ng-template>
                <div class="note-management">
                  <mat-form-field matInput class="example-full-width">
                    <mat-label>Note</mat-label>
                    <textarea matInput [(ngModel)]="row.desc"></textarea>
                  </mat-form-field>

                  <button mat-button class="neon-button mt-2" mat-button color="primary" (click)="saveNote(row)">
                    <mat-icon ngxBottomNavIcon fontSet="fa" fontIcon="fa-sign-in-alt"></mat-icon>
                    Save
                  </button>
                </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<app-navbar></app-navbar>
