<div class="img" >

</div>

<div class="container p-0">
  <div class="row  justify-content-center ">
    <div class="col-lg-4 col-md-6 col-sm-7 col-11 px-5">
      <h1 class="text-center mt-4">
        Your ultimate
        Personal Trainer
      </h1>

      <div class="text-center mt-4 thin mb-5">
        Workout plans tailored to you
      </div>
      <div class="text-center mt-5">
        <button class="neon-button" mat-button color="primary">
          <mat-icon ngxBottomNavIcon fontSet="fa" fontIcon="fa-home"></mat-icon>
          CREATE ACCOUNT
        </button>
      </div>

      <div class="text-center mt-3 thin">
        Already have account? <strong><a href="">Log In</a></strong>
      </div>

    </div>
  </div>
</div>




