<div class="img" >

</div>

<div class="container p-0">
  <div class="row  justify-content-center ">
    <div class="col-lg-6 col-md-8 col-sm-9 col-10 px-3">
      <h1 class="text-center mt-4">
        Your ultimate
        Personal Trainer
      </h1>


      <mat-horizontal-stepper ngClass="mat-stepper-label-position-top" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Login or Register</ng-template>

            <div class="text-center mt-4 thin mb-5">
              Workout plans tailored to you
            </div>

            <button mat-button matStepperNext class="neon-button" mat-button color="primary">
              <mat-icon ngxBottomNavIcon fontSet="fa" fontIcon="fa-home"></mat-icon>
              CREATE ACCOUNT
            </button>

            <div class="text-center mt-3 thin">
              Already have account? <strong><a [routerLink]="['/login']">Log In</a></strong>
            </div>

        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
            <div class="text-center mt-4 thin mb-2">
              JOIN TO US
            </div>

            <div class="text-center mt-4 thin mb-5" style="text-align: justify !important;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>

            <button mat-button matStepperNext class="neon-button" mat-button color="primary">
              <mat-icon ngxBottomNavIcon fontSet="fa" fontIcon="fa-arrow-right"></mat-icon>
              NEXT
            </button>

        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>

          <div class="text-center mt-4 thin mb-2">
            Last step to change your life
          </div>

          <button [routerLink]="['/register']" mat-button class="neon-button" mat-button color="primary">
            <mat-icon ngxBottomNavIcon fontSet="fa" fontIcon="fa-sign-in-alt"></mat-icon>
            GET STARTED
          </button>

        </mat-step>
      </mat-horizontal-stepper>

    </div>
  </div>
</div>




