<ngx-bottom-nav>
  <button ngx-bottom-nav label="Notes" routerLink="/notes" exact="true">
    <mat-icon ngxBottomNavIcon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
  </button>

  <button ngx-bottom-nav label="Planer" routerLink="/planer/list">
    <mat-icon ngxBottomNavIcon fontSet="fa" fontIcon="fa-dumbbell"></mat-icon>
  </button>

  <button ngx-bottom-nav label="Home" routerLink="/welcome" exact="true">
    <mat-icon ngxBottomNavIcon fontSet="fa" fontIcon="fa-home"></mat-icon>
  </button>

  <button ngx-bottom-nav label="Alphabet" routerLink="/exercises/categories">
    <mat-icon ngxBottomNavIcon fontSet="fa" fontIcon="fa-book"></mat-icon>
  </button>
  <button ngx-bottom-nav label="User" routerLink="/user">
    <mat-icon ngxBottomNavIcon fontSet="fa" fontIcon="fa-user-alt"></mat-icon>
  </button>


</ngx-bottom-nav>
