<div class="layout">
  <app-header
    [viewNameBold]="viewNameBold" [viewNameRegular]="viewNameRegular" [viewNameThin]="viewDesc" [imageUrl]="'/assets/image/alphabet/header-first.jpg'">
  </app-header>

  <div class="container p-0">
    <div class="row justify-content-center ">
      <div class="col-lg-6 col-md-8 col-sm-9 col-10 px-3 mt-5">
        <h3 class="mt-4 text-title">
          {{exercise.name}}
        </h3>
        <div *ngIf="this.exerciseExists" class="category-wrapper">
          <div class="mt-2" [innerHtml]="iFrameYoutube"></div>
          <div class="mt-2 text-justify text-thin">
            {{exercise.description}}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-navbar></app-navbar>

