
@import '~@angular/material/theming';
@import '~ngx-bottom-nav/theming';

@include mat-core();

$WorkoutAppClient-primary: mat-palette($mat-purple);
$WorkoutAppClient-accent: mat-palette($mat-light-blue, A200, A100, A400);

$WorkoutAppClient-warn: mat-palette($mat-red);

$WorkoutAppClient-theme: mat-dark-theme((
  color: (
    primary: $WorkoutAppClient-primary,
    accent: $WorkoutAppClient-accent,
    warn: $WorkoutAppClient-warn,
  )
));

@include angular-material-theme($WorkoutAppClient-theme);
@include ngx-bottom-nav-theme($WorkoutAppClient-theme);
