
@import '~@angular/material/theming';
@import '~ngx-bottom-nav/theming';
@import '~material-bottom-nav';

@import "./assets/scss/breakpoints";



$typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($typography);
@include mat-base-typography($typography);
@include mat-checkbox-typography($typography);
@include angular-material-typography($typography);


$md-black: (
  50 : #e1e1e1,
  100 : #ACACAC,
  200 : #848484,
  300 : #535353,
  400 : #2b2b2c,
  500 : #090909,
  600 : #080808,
  700 : #060606,
  800 : #050505,
  900 : #020202,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-purple: (
  50 : #f2e8ff,
  100 : #dfc5ff,
  200 : #ca9fff,
  300 : #b579ff,
  400 : #a55cff,
  500 : #953fff,
  600 : #8d39ff,
  700 : #8231ff,
  800 : #7829ff,
  900 : #671bff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #dbccff,
  A700 : #c9b3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-blue: (
  50 : #e5f3ff,
  100 : #bee0fe,
  200 : #93ccfd,
  300 : #67b8fc,
  400 : #47a8fc,
  500 : #2699fb,
  600 : #2291fa,
  700 : #1c86fa,
  800 : #177cf9,
  900 : #0d6bf8,
  A100 : #ffffff,
  A200 : #f0f5ff,
  A400 : #bdd4ff,
  A700 : #a3c4ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat-palette($md-purple, 500);
$accent: mat-palette($md-blue, 500);
$background-color: map_get($md-black, 900);
$foreground: map_get($md-black, 400);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme($primary, $accent, $warn);

$background: map-get($theme, background);
$background: map_merge($background, (background: $background-color));

$foreground: map-get($theme, foreground);
$foreground: map_merge($foreground, (foreground: $foreground));

$theme: map_merge($theme, (background: $background));
$theme: map_merge($theme, (foreground: $foreground));


@include angular-material-theme($theme);
@include ngx-bottom-nav-theme($theme);

ngx-bottom-nav {
  position: fixed;
  bottom: 0;
  width:100%;
  justify-content: space-around;
  z-index:999;
  mat-toolbar{
    justify-content: space-around !important;
    background: #{mat-color(mat-palette($md-black,400))} !important;
    color: #{mat-color(mat-palette($md-purple,500))} !important;
    padding: 10px !important;
  }
  button[ngx-bottom-nav]:not(.active) {
    --ngx-bottom-nav-button-color: #{mat-color(mat-palette($md-black, 100))};
    font-size: 1em;
    padding: 0 !important;
    min-width: 60px !important;
    height: 100%!important ;

  }
  mat-icon[ngx-bottom-nav]{
    margin-top: 5px;
    margin-bottom: 5px;
  }

}

